/* media query for tablet*/

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
	.services h2::after {
		width: 20%;
	}
	.services h2 {
		font-size: 24px;
		margin-bottom: 15px;
		padding-bottom: 10px;
	}
	.services p {
		font-size: 12px;
	}
	.services {
		padding: 15px 0;
	}
	.slider .swiper-slide {
		width: 100% !important;
	}
}
