.services {
}
.services h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #173b6c;
}
.services h2::after {
	content: "";
	width: 6%;
	position: absolute;
	bottom: 0;
	left: 0;
	border: 2px solid #149ddd;
}

.services p {
	color: #272829;
	font-size: 14px;
}
.services .icon {
	font-size: 25px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.services .iconBg {
	position: relative;
	height: 50px;
	width: 50px;
	background-color: #149ddd;
	border-radius: 50%;
}

.service:hover .icon {
	color: #149ddd;
}
.service:hover .iconBg {
	background: #fff;
	border: 1px solid #149ddd;
}

.services h4 {
	font-weight: 700;
	font-size: 18px;
	color: #343a40;
}
.services h4:hover {
	color: #149ddd;
	cursor: pointer;
}

.testimonial {
	background-color: #f5f8fd;
	padding: 40px 0;
}

.testimonial .avatar {
	margin: auto;
	width: 30%;
	border-radius: 50%;
}

.testimonial .slider {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.testimonial .swiper-slide {
	padding-bottom: 30px;
}
.testimonial .swiper-pagination {
	bottom: 0 !important;
}

.testimonial .info {
	margin: auto;
	text-align: center;
}

.testimonial .quotes {
	font-style: italic;
	margin: 0 15px 15px 15px;
	padding: 20px;
	background: #fff;
	position: relative;
	margin-bottom: 35px;
	border-radius: 6px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.testimonial .quotes::after {
	content: "";
	position: absolute;
	top: 100%;
	left: calc(50% - 20px);
	border: 20px solid transparent;
	border-top-color: #fff;
}
.testimonial .quote {
	color: #c3e8fa;
	font-size: 26px;
	font-weight: 400;
}

.testimonial .quote-left {
	position: relative;
	top: -10px;
	left: -5px;
}
.testimonial .quote-right {
	position: relative;
	bottom: -10px;
	right: -5px;
}
.testimonial h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 5px 0;
	color: #111;
}
.testimonial h4 {
	font-size: 14px;
	color: #999;
	font-weight: 600;
}

.testimonial .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	cursor: pointer;
	border: 1px solid #149ddd;
	transition: opacity 0.6s ease;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0);
	opacity: 1;
}

.testimonial .swiper-pagination-bullet-active {
	background-color: #149ddd !important;
}
