.portfolio {
	background-color: #f5f8fd;
	padding: 50px 0;
}

.portfolio h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #173b6c;
}
.portfolio h2::after {
	content: "";
	width: 6%;
	position: absolute;
	bottom: 0;
	left: 0;
	border: 2px solid #149ddd;
}
.portfolio p {
	color: #272829;
}
.portfolio .nav {
	width: fit-content;
	margin: auto;
}

.portfolio .nav li {
	padding: 10px 15px;
}
.portfolio .nav li button {
	color: #173b6c;
	padding: 5px 25px;
}
.portfolio .nav li button:hover,
.portfolio .nav li .active {
	color: #fff;
	background-color: #173b6c;
}

.portfolio .cardsArea {
	animation-duration: 0.7s;
}

.portfolio .cardContent {
	position: relative;
	overflow: hidden;
}

.portfolio .cardContent:hover::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;
	animation: fadeInUp;
	animation-duration: 0.3s;
	box-sizing: border-box;
}

.portfolio .links {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(20, 157, 221, 0.75);
	cursor: pointer;
	z-index: 2;
	opacity: 0;
}
.portfolio .cardContent:hover .links {
	opacity: 1;
	animation: fadeInUp;
	animation-duration: 0.5s;
}

.portfolio .icon {
	font-size: 36px;
	color: #fff;
	padding: 5px 0;
}

.portfolio .bg:hover {
	background-color: rgba(20, 157, 221, 0.95);
}

.portfolio .border-end {
	border-color: #37b3ed !important;
}
