/* media query for tablet*/

/* @media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
@media (max-width: 600px) {
} */
@media (max-width: 480px) {
	.portfolio .nav li {
		padding: 0;
	}
	.portfolio .nav li button {
		color: #173b6c;
		padding: 5px 20px;
	}
}
@media (max-width: 320px) {
	.portfolio h2::after {
		width: 20%;
	}
	.portfolio h2 {
		font-size: 24px;
		margin-bottom: 15px;
		padding-bottom: 10px;
	}
	.portfolio p {
		font-size: 12px;
	}
	.portfolio {
		padding: 15px 0;
	}

	.portfolio .nav li {
		padding: 0;
	}
	.portfolio .nav li button {
		color: #173b6c;
		padding: 5px 20px;
	}
}
