/* media query for tablet*/

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
	.resume h2::after {
		width: 25%;
	}
	.resume h2 {
		font-size: 24px;
		margin-bottom: 15px;
		padding-bottom: 10px;
	}
	.resume p {
		font-size: 12px;
	}
	.resume h3 {
		font-size: 22px;

		margin-bottom: 10px;
	}
	.resume ul li {
		font-size: 12px;
	}
	.resume {
		margin-bottom: 20px;
	}
}
